body {
    font-family: 'Almarai';
}

#left-div-h1 {
  color: #000070;
  margin-bottom: 20px;
  font-size: 75px;
}

#left-div-p {
  color: #009DCF;
  line-height: 2
}

#left-div {
  width: 50%;
  margin-top: 7%;
  float: left;
  margin-right:50px;
  margin-left: 100px;
}

#right-div {
  width: 18%;
  float: left;
  margin-left: 50px;
}

#right-div-2 {
  width: 18%;
  padding-top: 30px;
  margin-top: 10%;
  overflow: hidden;
  margin-right: 50px;
}

#tile1 {
  margin: 10px;
  background-color: white;
  border: 1px solid #BFBFBF;
  border-radius: 6px;
  padding: 20px;
  margin-bottom: 20px;
}

#tile2 {
  margin: 10px;
  margin-top: 10px;
  background-color: white;
  border: 1px solid #BFBFBF;
  border-radius: 6px;
  padding: 20px;
}

#tile3 {
  margin: 10px;
  background-color: white;
  border: 1px solid #BFBFBF;
  border-radius: 6px;
  padding: 20px;
  margin-bottom: 20px;
}

#tile4 {
  margin: 10px;
  background-color: white;
  border: 1px solid #BFBFBF;
  border-radius: 6px;
  padding: 20px;
}

#building {
  font-size: 25px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-radius: 6px;
  width: 40px;
  text-align: center;
}

h4 {
  color: #000070;
  line-height: 1.6
}

p {
  color: #009DCF;
  line-height: 1.5
}
